@use 'sass:list';
@use 'sass:meta';

$offset: 4;
$classList: (
  ma: margin,
  my: margin-top margin-bottom,
  mx: margin-left margin-right,
  mt: margin-top,
  mb: margin-bottom,
  ml: margin-left,
  mr: margin-right,
  pa: padding,
  py: padding-top padding-bottom,
  px: padding-left padding-right,
  pl: padding-left,
  pr: padding-right,
  pt: padding-top,
  pb: padding-bottom,
  gap: gap,
);

$classListNegative: (
  ma: margin,
  my: margin-top margin-bottom,
  mx: margin-left margin-right,
  mt: margin-top,
  mb: margin-bottom,
  ml: margin-left,
  mr: margin-right,
);

@function ensure-list($value) {
  @if meta.type-of($value) == 'list' {
    @return $value;
  }

  @return ($value);
}

:root {
  @for $i from 0 through 12 {
    --sp-#{$i}: #{$offset * $i}px;

    @if $i > 0 {
      --sp-n#{$i}: -#{$offset * $i}px;
    }

    @if $i == 12 {
      --sp-auto: auto;
    }

    @if $i == 0 {
      --sp-05: #{$offset * 0.5}px;
      --sp-n05: -#{$offset * 0.5}px;
    }
  }
}

.app {
  @each $class-name, $properties in $classList {
    $resolved-properties: ensure-list($properties);

    @for $i from 0 through 12 {
      .#{$class-name}-#{$i} {
        @for $k from 1 through list.length($resolved-properties) {
          $property: list.nth($resolved-properties, $k);
          #{$property}: #{$offset * $i}px;
        }
      }

      @if $i == 12 {
        .#{$class-name}-auto {
          @for $k from 1 through list.length($resolved-properties) {
            $property: list.nth($resolved-properties, $k);
            #{$property}: auto;
          }
        }
      }
    }
  }

  @each $class-name, $properties in $classListNegative {
    $resolved-properties: ensure-list($properties);

    @for $i from 1 through 12 {
      .#{$class-name}-n#{$i} {
        @for $k from 1 through list.length($resolved-properties) {
          $property: list.nth($resolved-properties, $k);
          #{$property}: -#{$offset * $i}px;
        }
      }
    }
  }
}
