name: Deploy Frontend (Dev)

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script_stop: false
          script: |
            cd ~/work-track/frontend
            git pull origin dev
            cd ../deployment
            docker-compose -f docker-compose.dev.yml up -d --build frontend-dev
            docker-compose -f docker-compose.dev.yml ps
